{% extends 'template.html' %}
{% block content %}

 <link rel="stylesheet" type="text/css" href="../static/css/index.css">

<div class="container" style="padding-top:2em;padding-bottom:2em;">


    <div class="columns">
      <div class="column">


      <div class="card" style="width:600px;">
        <div class="card-image">
          <figure class="image">
              <div class='containertimes'>
                <div class='bk'>
                  <div class='mid'>
                    <div class='fore'>
                      <div class='figure'></div>
                    </div>
                  </div>
                </div>
              </div>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <div class="area"><div class="box"></div></div>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4" id="twitname" style="display: inline;"></p>
              <p class="subtitle is-6">@edTech</p>
            </div>
          </div>

          <div class="content">
            <div id="whatis" style="display: inline;font-size:18px"></div><br/>
            <a href="#">#sensecourse</a> <a href="#">#findclasses</a>
            <br>
            <time id="time"></time>
          </div>
        </div>
      </div>





      </div>
      <div class="column" style="padding:20px 0">
        <h1 style="font-size:32px;color:#4a4a4a;text-align:center;">
          Find your perfect course match today!
        </h1>

        <p class="margin-left:120px;text-align:center;">
        <svg class="heart-loader" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90" version="1.1">
          <g class="heart-loader__group">
            <path class="heart-loader__square" stroke-width="1" fill="none" d="M0,30 0,90 60,90 60,30z"/>
            <path class="heart-loader__circle m--left" stroke-width="1" fill="none" d="M60,60 a30,30 0 0,1 -60,0 a30,30 0 0,1 60,0"/>
            <path class="heart-loader__circle m--right" stroke-width="1" fill="none" d="M60,60 a30,30 0 0,1 -60,0 a30,30 0 0,1 60,0"/>
            <path class="heart-loader__heartPath" stroke-width="2" d="M60,30 a30,30 0 0,1 0,60 L0,90 0,30 a30,30 0 0,1 60,0" />
          </g>
        </svg>
        </p>

        <p style="text-align:center;margin:0 auto;">
        <a class="button is-primary is-rounded is-large" id="registerbtn"><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;&nbsp;Register Now!</a>
        </p>
        <p style="text-align:center;color:#7b8e9e;">100% FREE</p>
      </div>
    </div>

</div>

<script>var today = new Date();document.getElementById("time").innerHTML = (today.getMonth()+1)+'/'+today.getDate()+"/"+today.getFullYear();</script>


<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        What is Sense Course?
      </h1>
      <h2 class="subtitle">
        <div class="columns">
          <div class="column">
           Sense Course is an easy to use system created
           by {{ authors }}
            to help students pick classes that match
            based on their personality.
          </div>
          <div class="column"></div>
        </div>
      </h2>
      <br/>
      <h1 class="title">
        Why should I use Sense Course?
      </h1>
      <br/>
      <h2 class="subtitle">
      <div class="columns">
        <div class="column">
          It uses AI to pick classes based on your personality insight.
        </div>
        <div class="column"></div>
      </div>
    </h2>
      <br/>
      <h1 class="title">
        Is it really 100% free?
      </h1>
      <h2 class="subtitle">
        <div class="columns">
          <div class="column">
            Yes! Our system is free and open for any user!
          </div>
          <div class="column"></div>
        </div>
      </h2>
    </div>
  </div>
</section>





<script>

    var options = {
        strings: ["Sense Course is awesome.", "Sense Course is easy to use.","Sense Course is made by students for students!",
            "Sense Course is funner than little miss sunshine.", "Sense Course is best thing since sliced bread!"],
        backSpeed: 300,
        loop: true,
        loopCount: Infinity,
        typeSpeed: 40
    };
    var typed = new Typed("#whatis", options);

    var optionstwo = {
        strings: ["Andrey Makhanov","Ryan Lewis "],
        backSpeed: 300,
        loop: true,
        loopCount: Infinity,
        typeSpeed: 40
    };
    var twtiname = new Typed("#twitname", optionstwo);

    const { easing, keyframes, styler } = window.popmotion;
    const divStyler = styler(document.querySelector('.box'));
    keyframes({
        values: [
            { x: 0, y: 0, rotateY: 0, background: '#9B65DE' },
            { x: 15, y: 0, rotateY: 180, rotateX: 0, background: '#14D790' },
            { x: 15, y: 15, rotateY: 180, rotateX: 180, background: '#FF1C68' },
            { x: 0, y: 15, rotateY: 0, rotateX: 180, background: '#198FE3' },
            { x: 0, y: 0, rotateY: 0, rotateX: 0, background: '#9B65DE' }
        ],
        duration: 3000,
        easings: [easing.easeInOut, easing.easeInOut, easing.easeInOut, easing.easeInOut],
        loop: Infinity,
        //times: [0, 0.2, 0.5, 0.6, 1]
    }).start(divStyler.set);

</script>
<style>
  .typed-cursor {
    -webkit-animation: blinker 1s linear infinite;
    animation: blinker 1s linear infinite;
    font-size:24px;
  }

  @-webkit-keyframes blinker {
    50% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
</style>





{% endblock %}