{% extends 'template.html' %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="../static/css/index_generating.css">

<div class="container" style="padding-top:2em;padding-bottom:2em;">
    <h1 id="message">Generating Courses...Please wait..Do Not Hit the Back Button or Refresh Browser</h1>
    <div class="loadert">Loading...</div>
</div>


<script>

            $.post( "/generating", {}, function( data) {
           if(data['action'] === 'ok'){
               window.location.href = "/";
           }
           else if(data['action'] === 'error'){
              if(data['type'] === 'misc'){
                  $('#message').html(data['text']);
              }
              else if(data['type'] === 'nosession'){
                 window.location.href = "/";
              }
           }

        });


</script>

{% endblock %}