{% extends 'template.html' %}
{% block content %}

 <link rel="stylesheet" type="text/css" href="../static/css/index_quiz.css">

<div class="container" style="padding-top:2em;padding-bottom:2em;">
    <article class="message is-warning">
        <div class="message-header">
            <p>Simple Two Question Survey:</p>
        </div>
        <div class="message-body">

            <div>Q1: <strong>How many hours a week do you plan to commit to OMSCS? (Enter a digit between 5 and 100)</strong></div>
{#            <em>NOTE: The algorithm will try to pick courses that are below your time commitment whenever it can. </em>#}
            <div class="field">
                <input id="hours" class="input" type="number" name="hours" min="5" max="100"
                       placeholder="Enter a digit between 5-100">
                <p class="help" id="helphours"></p>
                 <em class="quizNote">NOTE: The algorithm will try to pick courses that are below your time commitment whenever it can. </em>
            </div>

            <div>Q2: <strong>Why did you choose Computer Science as your major?</strong></div>
            <div class="field">
                <textarea id="personal" class="textarea"
                          placeholder="Explain why you choose computer science. (For best results, write at least 100 words)"></textarea>
                <p class="help" id="helppersonal"></p>
                <em class="quizNote">NOTE: The algorithm will use this information in order to suggest a specialization for you.</em>
                <em class="quizNote">This information will also be run through IBM Watson to generate "free" courses that best match your personality. </em>
            </div>
            <div class="control">
                <button class="button is-info" id="q_btn">Submit your questionaire!</button>
                <img id="scLoading" src="../static/images/loading.gif" style="width:10% !important; display:none">
            </div>
        </div>
    </article>
</div>

<script>
        $("#q_btn").click(function(e){
            e.preventDefault();
            var hours = $("#hours").val();
            var personal = $("#personal").val();

            $('#scLoading').show();

            $.ajax({
                  url: "/quiz",
                  type: "POST",
                  dataType: "json", // expected format for response
                  contentType: "application/json", // send as JSON  (this should put it as the body as opposed to url encoding it
                  data:  JSON.stringify({ "hours": hours, "personal":personal }),

                  success: function(data) {
                        $('#scLoading').hide();
                         $('#helphours').removeClass('is-success');
                        $('#helppersonal').removeClass('is-success');

                        $('#helphours').removeClass('is-danger');
                        $('#helppersonal').removeClass('is-danger');

                        $('#hours').removeClass('is-success');
                        $('#personal').removeClass('is-success');

                        $('#hours').removeClass('is-danger');
                        $('#personal').removeClass('is-danger');

                        $('#helphours').html('');
                        $('#helppersonal').html('');
                       if(data['action'] === 'ok'){
                           window.location.href = "/";
                       }
                       else if(data['action'] === 'error'){
                          if(data['type'] === 'hours'){
                              $('#helphours').addClass('is-danger');
                              $('#hours').addClass('is-danger');
                              $('#helphours').html(data['text']);
                          }
                          else if (data['type'] === 'personal') {
                            $('#helppersonal').html(data['text']);
                            $('#hpersonal').addClass('is-danger');
                              $('#helppersonal').addClass('is-danger');
                          }
                          else if(data['type'] === 'nosession'){
                             window.location.href = "/";
                          }
                       }
                  },

                 complete: function() {
                    //called when successful
                 },

                  error: function() {
                    //called when there is an error
                  },
                });


        });
</script>

{% endblock %}